<div class="main-content">
  <h1>About Us</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur iure at aut ea quibusdam doloribus maxime a
    itaque ad neque. Fugit quia animi cum soluta corporis. Soluta corrupti quae nesciunt.
    Doloribus consequatur sequi dicta consequuntur, magni, voluptas eius quibusdam esse, enim ut tenetur amet debitis
    quam. Obcaecati vitae voluptatum assumenda, beatae voluptatem odit, soluta neque cumque quidem, culpa reiciendis
    debitis.
    Debitis culpa sapiente explicabo provident obcaecati accusantium repellat itaque excepturi quo deserunt, temporibus
    nostrum quos delectus. Ipsa quibusdam explicabo illum labore, aliquam at molestias quo, veniam cum reprehenderit,
    corrupti nisi?
    Laboriosam cumque, reiciendis ex hic esse tenetur ipsam vitae voluptatibus perspiciatis qui soluta et velit modi
    dolores iusto, natus cupiditate fuga adipisci quidem provident sit quae veniam quia. Voluptatibus, voluptatum.
    Molestiae, ipsum expedita dolor pariatur numquam optio! Recusandae libero quam maxime quia deserunt! Fugiat quaerat
    sequi, enim iusto aut in, distinctio, ab laudantium nam sed veniam incidunt veritatis ratione quae!</p>
  <input #aboutText type="text" value="kishan">
  <button (click)="onClickButton(aboutText)">Programmetically Routing</button>
</div>
