.nav-bar{
  display: flex;
  width: 100;
  justify-content: space-around;
  background-color: rgb(5, 5, 5);
}

.nav-list{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 2rem;
  padding: 5px 15px;
}

.nav-list:hover, .active{
  background-color: beige;
  color: black;
}
