<div class="w-50 m-auto mt-5 shadow p-5">
  <form [formGroup]="myForm" (ngSubmit)="onFormSubmit()">
    <div formGroupName="userDetails">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Enter username" formControlName="username">
        <small *ngIf="!myForm.get('userDetails.username')!.valid && myForm.get('userDetails.username')!.touched"
          class=" text-danger">Enter
          valid
          Username...</small>
      </div>
      <div class="form-group mt-3">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
      </div>
    </div>
    <div class="form-group">
      <label for="course" class="mt-3">Select Course</label>
      <select class="form-control p-2 w-100" id="course" formControlName="course">
        <option value="Angular">Angular</option>
        <option value="React">React</option>
        <option value="Vue">Vue</option>
        <option value="NextJS">NextJS</option>
      </select>
    </div>
    <div class="form-group mt-3" formArrayName="skills">
      <label for="">Skills:</label>
      <input type="text" class="form-control" placeholder="Add your skill...">
      <button class="btn btn-secondary btn-sm mt-3"><i>+</i>Add skill</button>
    </div>
    <button type="submit" class="btn btn-success mt-3">Submit</button>
  </form>
</div>
