<!-- For routing concept -->
<!-- <app-navigation-bar></app-navigation-bar>
<router-outlet></router-outlet> -->

<!-- ng-content example -->
<!-- <div class="div-main">
  <app-same-content>
    <h2 class="title">Title 1</h2>
    <button class="btn btn-success">Title 1 button</button>
  </app-same-content>
  <app-same-content>
    <h2 class="title">Title 2</h2>
    <button class="btn btn-success">Title 2 button</button>
  </app-same-content>
  <app-same-content>
    <h2 class="title">Title 3</h2>
    <button class="btn btn-success">Title 3 button</button>
  </app-same-content>
  <app-same-content>
    <h2 class="title">Title 4</h2>
    <button class="btn btn-success">Title 4 button</button>
  </app-same-content>
</div> -->

<!-- <app-home></app-home>
<app-products></app-products>
<app-about-us></app-about-us>
<app-contact-us></app-contact-us> -->

<!-- <app-parent></app-parent> -->

<app-in-out-decorator></app-in-out-decorator>
<!-- <app-learn-services></app-learn-services> -->

<!-- <app-http-practice></app-http-practice> -->

<!-- <app-renderer></app-renderer> -->

<!-- <app-host-binding></app-host-binding> -->

<!-- <app-pipes></app-pipes> -->

<!-- <app-template-driven-form></app-template-driven-form> -->

<!-- <app-reactive-form></app-reactive-form> -->
